@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: #f8f9fa;
}

/* 確保表格內的文字排版整齊 */
.table th, 
.table td {
  vertical-align: middle;
}